table > tbody > tr.active, .table-striped > tbody > tr.active {
    /*background-color: darkred;*/
}
.table>tbody>tr.active>td, .table>tbody>tr.active>td >a ,.table>tbody>tr.active:hover {
    /*background-color: darkred;
    color: whitesmoke;
    */
}

.table {
    margin-bottom: 0px;
}
.table-hover>tbody>tr:hover {
    /*background-color: #C4CCCE*/
}

tr {
    min-height: 40px;
    height: 40px;
    line-height: 40px;
}

.schedule-table tr > td , .schedule-table tr, .schedule-table tbody >tr > td  {
    border: none;
    border-top: none;
}

/*.table-season-standings tbody tr ,*/
.schedule-table tbody tr, .results-table tbody tr {
    min-height: 25px;
    height: 25px;
    line-height: 25px;
}

.results-table {
    border-collapse: collapse;
}

.schedule-home {
    max-width: 100px;
    width: 100px;
}
.schedule-vs , td.racks{
    width: 40px;
}
.schedule-away, .results-winner, .results-loser {
    max-width: 100px;
    width: 100px;
}

table tbody tr td.results-loser {
    border: 1px solid black;
}