@charset "UTF-8";
/* CSS Document */
/* Society Red: #9c302d */


/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.table-hover>tbody>tr.active:hover ,
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr.active>td
{
	background-color: #dd7a82;
}
tr:hover td {
	background-color: #ADA;
	color: #000;
}

.ss-home-app {
	background-color: #eee;
}
.table>tbody>tr:active>td {
	background-color: #dd7a82;
}

#content > nav > ul > li > a > span, #content > nav > ul > li > a  {
	color: whitesmoke;
}

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}


.navbar-inverse .navbar-nav>.active>a {
	background-color: #222;
}
nav.navbar-inverse {
	background-color:#000000;
}
#navbar > ul > li.active.dropdown {
	background-color: #222;
}

form.navbar-form>input {
	max-width: 120px;
}

span.glyphicon {
	margin-right: 5px;	
}
span.fa {
	margin-right: 5px;	
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.full {
    background: url('../img/break2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header.page-header {
    background: #2d3e50;
    color: #eee;
}

span.page-title {
    margin-left: 0.4em;
    font-size: 137%;
    vertical-align: top;
}

header a {
    text-decoration: none;
}
/*    
    This version adds support for IE 10+ and Firefox.
*/
.glyphicon-refresh-animate {
	color: #fff;
	font-size: 96px;
	margin-top:200px;
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

a.logout {
    color: #eee;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 1em;
}
a {
	color: black;
}
a:visited {
	color: black;
}

a.logout:hover {
    color: #3b67a7;
}

h2.form-signin-heading {
	text-align:center;
	margin: 0px 0px 20px 0px;
}
.well {
	float: none;
	margin: 140px auto 0px auto;
	color: #fff;
	background-image: -webkit-linear-gradient(top, rgba(70,0,0, .9) 0%, rgba(0,0,0, .9) 100%);
	background-image: -o-linear-gradient(top, rgba(70,0,0, .9) 0%, rgba(0,0,0, .9) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(70,0,0, .9)), to(rgba(0,0,0, .9)));
	background-image: linear-gradient(to bottom, rgba(70,0,0, .9) 0%, rgba(0,0,0, .9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#460000', endColorstr='#6666666', GradientType=0);
	background-repeat: repeat-x;
	background-color: transparent;
	border: 3px solid #240000;
	border-radius: 8px;
	-webkit-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.75);
}

.footer {
  width: 100%;
  /* Set the fixed height of the ss-naver here */
}
.footer .container {
	margin-top: 200px;
	border-color: #080808;
	background-color: #080808;
	color: #9d9d9d;

}
.footer .container a, .footer.container a:visited {
	color: #9d9d9d;
}
.footer .container ul {
	float: left;
	font-family: 'Helvetica', sans-serif;
	font-size: .9em;
	padding: 15px 0px 15px 10px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	list-style-type: none;
}
.footer .container li {
	float: left;
	padding: 0px 10px;
	margin: 0px 0px 10px 0px;
	width: 30%;
	text-align: center;
}
.footer .container li.footer-address {
	clear: both;
	width: 100%;
}

.nav-tabs {
  border-bottom: none;
}

#content {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #content {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

@media (min-width: 768px) {
.wrap {
	min-width: 940px;
	max-width: 940px;
}
.main-item {
	display: inline-block;
}
.request {
	margin: 0px 0px 0px 10px;
	width: auto;
}
.btn-responsive {
	margin-top: 0px;
    width: auto;
}
/* remove container padding using class .outerWrapper for desktop so left and right sides are flush to upper nav */
.outerWrapper {
	padding: 0px 0px;
}

.well {
	margin: 100px auto 0px auto;
}

.logo {
	width: 150px;
	background-image: url(../img/sbb-logo-mobile.jpg);
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

.logo a {
		display: block;
		width: 100%;
		height: 100%;
}

#content {
	padding: 0px 0px;
}
.home-upcoming-challenges {
	font-size: 16px;
	line-height: 30px;
}
/* Reset button widths for large screens */
.select-game button, .select-time button {
	width: auto;
}
.footer .container li {
	float: left;
	padding: 0px 10px 0px 0px;
	width: 13%;
	text-align: center;
	height: auto;
}
.footer .container li.footer-address {
	width: 22%;
	clear:none;
}
}

/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #000000;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #222 !important;
    }
}

.side-nav>li>ul {
	padding: 0;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}

@media (min-width: 992px) {
 .wrap {
	min-width: 1200px;
	max-width: 1200px;
}
}
@media (min-width: 1200px) {
 .wrap {
	min-width: 1300px;
	max-width: 1300px;
}
}